<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 16px;
    line-height: 20px;
  }
</style>

<div class="message-content">
  <p>Oi,</p>
  <p>Parece que uma troca de senha para sua conta foi solicitada.</p>
  <p>Se foi você clique no link a baixo para escolher uma nova senha:</p>
  <p>
    <a href="{{link}}">Trocar minha senha</a>
  </p>
  <p>Se não foi você então desconsidere este e-mail!</p>
  <p>
    Obrigado<br />
    <strong>Equipe API-TIBIA</strong>
  </p>
</div>
