<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 16px;
    line-height: 20px;
  }
</style>

<div class="message-content">
  <p>Bem-vindo ao {{company_name}}!</p>
  <p>Para poder experimentar todos os recursos de uma conta gratuita,</p>
  <p>você precisa confirmar sua conta. Para fazer isso, clique no seguinte link:</p>
  <a href="{{link}}">Confirmar Conta</a>
  <p>Se clicar no link não funcionar em seu programa de e-mail, por favor</p>
  <p>copie e cole no seu navegador. O link está possivelmente dividido</p>
  <p>devido a uma quebra de linha.<br />
    Certifique-se de copiar o link completo.
  </p>
  {{!-- <p>Além disso, leia nossas dicas de segurança em</p> --}}
  {{!-- <p>http://www.tibia.com/gameguides/?subtopic=securityhints</p> --}}
  {{!-- <p>para saber mais sobre como proteger sua conta.</p> --}}
  <p>Equipe {{company_name}}</p>
</div>
